.video-wrapper {
	text-align: center;
	
	iframe {
		width: 80%;
		height: 550px;
		border: none;
		overflow-x: hidden;
	}
}

@media (min-width: 768px) {
	.video-wrapper {
		
		iframe {	
			height: 30rem;
			width: 40%;
		}
	}
}

.centered {
	text-align: center;
}